<section class="about">
    <!-- <img class="about__milk-splash" src="./images/about/mobile/about_milk-splash.mobile.png" alt=""> -->

    <div class="container" >
       <div class="about_label" >
            <p class="about__title" id="about">tradition and love</p>
            <h2 class="about__subtitle" >how it’s made?</h2>
       </div>
      
        <div class="about__content-box">
            <div class="about__image">
                <picture>
                    <source media="(min-width: 1280px)" srcset="
                    ./images/about/desktop/about_cow.desktop.png 1x,
                    ./images/about/desktop/about_cow.desktop@2x.png 2x">
                    <source media="(min-width: 768px)" srcset="
                    ./images/about/tablet/about_cow.tablet.png 1x,
                    ./images/about/tablet/about_cow.tablet@2x.png 2x">
                    <source media="(min-width: 480px)" srcset="
                    ./images/about/mobile/about_cow.mobile.png 1x,
                    ./images/about/mobile/about_cow.mobile@2x.png 2x">
                    <img src="./images/about/mobile/about_cow.mobile.png" alt="Корова и молоко">
                </picture>
            </div>
            <div class="about__box_text">
                <p class="about__pretext">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus,
                    faucibus
                    lorem eget, egestas eros.
                    Maecenas eleifend erat at justo fringilla.</p>
                <p class="about__text">Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris
                    rhoncus orci in
                    imperdiet placerat.
                    Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh,
                    tincidunt.
                    <span class="about__text_text">Aliquam erat volutpat. Aenean accumsan.</span>
                </p>
                <button type="button" class="about__btn button menu-open-btn">Read more<svg class="button__icon-arrow--red" width="6.43px" height="10px">
                    <use href="./images/icons.svg#icon-arrow-right-red"></use>
                  </svg>
                </button>
            </div>
        </div>
</section>