<div class="about__backdrop backdrop is-hidden">
    <div class="about__modal mob-menu">
        <button type="button" class="close__about_modal menu-close-btn">
            <svg class="close_icon">
                <use href="./images/about/symbol.svg#icon-close_about"></use>
            </svg>
        </button>
        <div class="about__modal_one">
            <h2>Довольная корова</h2>
            <p class="about__modal_text">Lorem ipsum dolor sit amet consectetur adipisicing elit. In iste exercitationem
                ipsam dolores numquam accusamus, saepe vel earum facilis quod alias ducimus temporibus tempora nesciunt
                quibusdam, soluta porro illum. Consequuntur?
                Consectetur veritatis, sint excepturi tempore dicta aut quia eveniet vitae numquam, perferendis quidem
                beatae architecto dolores ipsa, maxime natus animi ab sed. Sunt sit dolorum deleniti animi voluptas
                neque distinctio!
            </p>
        </div>
        <div class="about__modal_two">
            <h2>Вкусное молоко</h2>
            <p class="about__modal_text">Lorem ipsum dolor sit amet consectetur adipisicing elit. In iste exercitationem
                ipsam dolores numquam accusamus,
                saepe vel earum facilis quod alias ducimus temporibus tempora nesciunt quibusdam, soluta porro illum.
                Consequuntur?
                Consectetur veritatis, sint excepturi tempore dicta aut quia eveniet vitae numquam, perferendis quidem
                beatae
                architecto dolores ipsa, maxime natus animi ab sed. Sunt sit dolorum deleniti animi voluptas neque
                distinctio!
            </p>
        </div>
    </div>
</div>