<section class="customer-reviews">
  <div class="container">
    <h2 class="semantical">Customer-reviews</h2>
    <div class="swiper" id="customer-reviews">
      <ul class="customer-reviews__list swiper-wrapper">
        <li class="customer-reviews__item swiper-slide">
          <img
            srcset="./images/customer/customer1.jpg 1x, ./images/customer/customer1@2x.jpg 2x"
            src="./images/customer/customer1.jpg"
            alt="Фото клиента"
            class="customer-reviews__img"
          />
          <div class="customer-reviews__text-wrap">
            <p class="customer-reviews__text">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
              hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
            </p>

            <span class="customer-reviews__gradient"></span>
          </div>

          <p class="customer-reviews__address">Emily, Los Angeles</p>
        </li>
        <li class="customer-reviews__item swiper-slide">
          <img
            srcset="./images/customer/customer2.jpg 1x, ./images/customer/customer2@2x.jpg 2x"
            src="./images/customer/customer2.jpg"
            alt="Фото клиента"
            class="customer-reviews__img"
          />
          <div class="customer-reviews__text-wrap">
            <p class="customer-reviews__text">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
              hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
            </p>

            <span class="customer-reviews__gradient"></span>
          </div>

          <p class="customer-reviews__address">Kate, New York</p>
        </li>
        <li class="customer-reviews__item swiper-slide">
          <img
            srcset="./images/customer/customer3.jpg 1x, ./images/customer/customer3@2x.jpg 2x"
            src="./images/customer/customer3.jpg"
            alt="Фото клиента"
            class="customer-reviews__img"
          />
          <div class="customer-reviews__text-wrap">
            <p class="customer-reviews__text">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
              hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
            </p>

            <span class="customer-reviews__gradient"></span>
          </div>

          <p class="customer-reviews__address">Eleonora, Chicago</p>
        </li>
      </ul>
    </div>
    <div class="swiper-pagination"></div>
  </div>
</section>
