<!-- <section class="gallery">
    <div class="container gallery__container">
        <h2 class="semantical">Gallery</h2>
        <picture>
            <source media="(min-width: 1280px)" srcset="./images/gallery/desktop/gallery-desk.jpg 1x, ./images/gallery/desktop/gallery-desk-2x.jpg 2x">
            <source media="(min-width: 768px)" srcset="./images/gallery/tablet/gallery-tab.jpg 1x, ./images/gallery/tablet/gallery-tab-2x.jpg 2x">
            <source media="(min-width: 320px)" srcset="./images/gallery/mobile/gallery-mob.jpg 1x, ./images/gallery/mobile/gallery-mob-2x.jpg 2x">
            <img src="./images/gallery/desktop/gallery-desk.jpg" alt="Collage of images with ice cream">
        </picture>
    </div>
</section> -->

<section class="gallery">
  <div class="container gallery__container">
    <h2 class="semantical">Gallery</h2>
    <div id="grid-masonry" class="grid-masonry">
      <div class="grid-masonry-item">
        <div class="grid-masonry-item__container">
          <div class="grid-masonry-item__image-container">
            <img
              class="grid-masonry-item__image"
              src="./images/gallery/masonry-gallery/ice-cream__example1.JPG"
              alt="Collage of images with ice cream"
            />
          </div>
        </div>
      </div>

      <div class="grid-masonry-item">
        <div class="grid-masonry-item__container">
          <div class="grid-masonry-item__image-container">
            <img
              class="grid-masonry-item__image"
              src="./images/gallery/masonry-gallery/ice-cream__example2.JPG"
              alt="Collage of images with ice cream"
            />
          </div>
        </div>
      </div>

      <div class="grid-masonry-item">
        <div class="grid-masonry-item__container">
          <div class="grid-masonry-item__image-container">
            <img
              class="grid-masonry-item__image"
              src="./images/gallery/masonry-gallery/ice-cream__example3.JPG"
              alt="Collage of images with ice cream"
            />
          </div>
        </div>
      </div>

      <div class="grid-masonry-item">
        <div class="grid-masonry-item__container">
          <div class="grid-masonry-item__image-container">
            <img
              class="grid-masonry-item__image"
              src="./images/gallery/masonry-gallery/ice-cream__example4.JPG"
              alt="Collage of images with ice cream"
            />
          </div>
        </div>
      </div>

      <div class="grid-masonry-item">
        <div class="grid-masonry-item__container">
          <div class="grid-masonry-item__image-container">
            <img
              class="grid-masonry-item__image"
              src="./images/gallery/masonry-gallery/ice-cream__example5.JPG"
              alt="Collage of images with ice cream"
            />
          </div>
        </div>
      </div>

      <div class="grid-masonry-item">
        <div class="grid-masonry-item__container">
          <div class="grid-masonry-item__image-container">
            <img
              class="grid-masonry-item__image"
              src="./images/gallery/masonry-gallery/ice-cream__example6.JPG"
              alt="Collage of images with ice cream"
            />
          </div>
        </div>
      </div>

      <div class="grid-masonry-item">
        <div class="grid-masonry-item__container">
          <div class="grid-masonry-item__image-container">
            <img
              class="grid-masonry-item__image"
              src="./images/gallery/masonry-gallery/ice-cream__example7.JPG"
              alt="Collage of images with ice cream"
            />
          </div>
        </div>
      </div>

      <div class="grid-masonry-item">
        <div class="grid-masonry-item__container">
          <div class="grid-masonry-item__image-container">
            <img
              class="grid-masonry-item__image"
              src="./images/gallery/masonry-gallery/ice-cream__example8.JPG"
              alt="Collage of images with ice cream"
            />
          </div>
        </div>
      </div>

      <div class="grid-masonry-item">
        <div class="grid-masonry-item__container">
          <div class="grid-masonry-item__image-container">
            <img
              class="grid-masonry-item__image"
              src="./images/gallery/masonry-gallery/ice-cream__example9.JPG"
              alt="Collage of images with ice cream"
            />
          </div>
        </div>
      </div>

      <div class="grid-masonry-item">
        <div class="grid-masonry-item__container">
          <div class="grid-masonry-item__image-container">
            <img
              class="grid-masonry-item__image"
              src="./images/gallery/masonry-gallery/ice-cream__example10.JPG"
              alt="Collage of images with ice cream"
            />
          </div>
        </div>
      </div>

      <div class="grid-masonry-item">
        <div class="grid-masonry-item__container">
          <div class="grid-masonry-item__image-container">
            <img
              class="grid-masonry-item__image"
              src="./images/gallery/masonry-gallery/ice-cream__example1.JPG"
              alt="Collage of images with ice cream"
            />
          </div>
        </div>
      </div>

      <div class="grid-masonry-item">
        <div class="grid-masonry-item__container">
          <div class="grid-masonry-item__image-container">
            <img
              class="grid-masonry-item__image"
              src="./images/gallery/masonry-gallery/ice-cream__example2.JPG"
              alt="Collage of images with ice cream"
            />
          </div>
        </div>
      </div>

      <div class="grid-masonry-item">
        <div class="grid-masonry-item__container">
          <div class="grid-masonry-item__image-container">
            <img
              class="grid-masonry-item__image"
              src="./images/gallery/masonry-gallery/ice-cream__example3.JPG"
              alt="Collage of images with ice cream"
            />
          </div>
        </div>
      </div>

      <div class="grid-masonry-item gallery-mobile">
        <div class="grid-masonry-item__container">
          <div class="grid-masonry-item__image-container">
            <img
              class="grid-masonry-item__image"
              src="./images/gallery/masonry-gallery/ice-cream__example4.JPG"
              alt="Collage of images with ice cream"
            />
          </div>
        </div>
      </div>

      <div class="grid-masonry-item gallery-mobile">
        <div class="grid-masonry-item__container">
          <div class="grid-masonry-item__image-container">
            <img
              class="grid-masonry-item__image"
              src="./images/gallery/masonry-gallery/ice-cream__example5.JPG"
              alt="Collage of images with ice cream"
            />
          </div>
        </div>
      </div>

      <div class="grid-masonry-item gallery-mobile">
        <div class="grid-masonry-item__container">
          <div class="grid-masonry-item__image-container">
            <img
              class="grid-masonry-item__image"
              src="./images/gallery/masonry-gallery/ice-cream__example6.JPG"
              alt="Collage of images with ice cream"
            />
          </div>
        </div>
      </div>

      <div class="grid-masonry-item gallery-mobile">
        <div class="grid-masonry-item__container">
          <div class="grid-masonry-item__image-container">
            <img
              class="grid-masonry-item__image"
              src="./images/gallery/masonry-gallery/ice-cream__example7.JPG"
              alt="Collage of images with ice cream"
            />
          </div>
        </div>
      </div>

      <div class="grid-masonry-item gallery-mobile">
        <div class="grid-masonry-item__container">
          <div class="grid-masonry-item__image-container">
            <img
              class="grid-masonry-item__image"
              src="./images/gallery/masonry-gallery/ice-cream__example8.JPG"
              alt="Collage of images with ice cream"
            />
          </div>
        </div>
      </div>

      <div class="grid-masonry-item gallery-mobile">
        <div class="grid-masonry-item__container">
          <div class="grid-masonry-item__image-container">
            <img
              class="grid-masonry-item__image"
              src="./images/gallery/masonry-gallery/ice-cream__example9.JPG"
              alt="Collage of images with ice cream"
            />
          </div>
        </div>
      </div>

      <div class="grid-masonry-item gallery-mobile">
        <div class="grid-masonry-item__container">
          <div class="grid-masonry-item__image-container">
            <img
              class="grid-masonry-item__image"
              src="./images/gallery/masonry-gallery/ice-cream__example10.JPG"
              alt="Collage of images with ice cream"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
