<!-- Products Section -->
<section class="products">
  <div class="container">
    <p class="products__label" id="products">100% natural</p>
    <h2 class="products__title">products</h2>
    <ul class="products__list">
      <li class="products__item">
        <h3 class="products__item-title">Ice Cream</h3>
        <span class="products__dividing-line"></span>
        <p class="products__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et<span class="products__text-hide">. dolore magna aliqua facilisis.</span>
        </p>
        <button type="button" class="products__btn button" id="rose-btn"></button>
        <div class="products__overlay-card" id="rose-card">
          <h3 class="overlay-card__title">Composition</h3>
          <ul class="overlay-card__list">
            <li class="overlay-card__item">Lorem ipsum</li>
            <li class="overlay-card__item">Dolor Sit</li>
            <li class="overlay-card__item">Amet consectetur</li>
            <li class="overlay-card__item">Adipisicing elit</li>
          </ul>
        </div>
      </li>
      <li class="products__item">
        <h3 class="products__item-title">ice coffee</h3>
        <span class="products__dividing-line"></span>
        <p class="products__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et<span class="products__text-hide">. dolore magna aliqua facilisis.</span>
        </p>
        <button type="button" class="products__btn button" id="brown-btn"></button>
        <div class="products__overlay-card" id="brown-card">
          <h3 class="overlay-card__title">Composition</h3>
          <ul class="overlay-card__list">
            <li class="overlay-card__item">Lorem ipsum</li>
            <li class="overlay-card__item">Dolor Sit</li>
            <li class="overlay-card__item">Amet consectetur</li>
            <li class="overlay-card__item">Adipisicing elit</li>
          </ul>
        </div>
      </li>
      <li class="products__item">
        <h3 class="products__item-title">milkshakes</h3>
        <span class="products__dividing-line"></span>
        <p class="products__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et<span class="products__text-hide">. dolore magna aliqua facilisis.</span>
        </p>
        <button type="button" class="products__btn button" id="green-btn"></button>
        <div class="products__overlay-card" id="green-card">
          <h3 class="overlay-card__title">Composition</h3>
          <ul class="overlay-card__list">
            <li class="overlay-card__item">Lorem ipsum</li>
            <li class="overlay-card__item">Dolor Sit</li>
            <li class="overlay-card__item">Amet consectetur</li>
            <li class="overlay-card__item">Adipisicing elit</li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</section>
